[Unit]
Description=Minecraft Bedrock Edition Server
Documentation=https://github.com/codehz/mcpeserver
After=network.target

[Service]
User=mcpeserver
Group=mcpeserver
WorkingDirectory=/srv/mcpeserver
ExecStart=/usr/bin/mcpeserver daemon -profile %i -systemd
ExecStop=/usr/bin/dbus-send --system --print-reply --dest=one.codehz.bedrockserver.default /one/codehz/bedrockserver one.codehz.bedrockserver.core.stop
Type=dbus
BusName=one.codehz.bedrockserver.%i
Restart=on-failure
TimeoutSec=10

[Install]
WantedBy=multi-user.target